* {
    border: 1px solid black; 
    /* margin: 10px;
    background-color: rgba(100, 117, 0, 0.1);
    min-width: 20px;
    min-height: 20px; */
    font-family: "Josefin Sans", sans-serif;
    --accent-color: rgb(166, 185, 247);

}

body {
    padding: 0;
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
h1,h2 {
    margin:0;
    padding: 0;
}
hr {
border: 1px solid black;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: blue;
    color: var(--accent-color, blue);
}

#health-stats {
    border: 2px solid black;
}
col {
    width: 10vw;
}
table#health-stats td {
    text-align: center;
}

#stats-and-weapons {
    display: flex;
}

#left, #right {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#gun-stats {
display: flex;
}