* {
    /* border: 1px solid red;  */
    /* margin: 10px;
    background-color: rgba(100, 117, 0, 0.1);
    min-width: 20px;
    min-height: 20px; */
    font-family: "Josefin Sans", sans-serif;
    --accent-color: rgb(166, 185, 247);
    text-transform: lowercase;
}

table {
    border-collapse: collapse;
}

td {
    padding: 2px;
}

body {
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1,h2 {
    margin:0;
    padding: 0;
    text-transform: none;
}

h1 {
margin-bottom: 8px;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: var(--accent-color, blue) wavy underline 1.5px;
    text-underline-offset: 6px;
    color: inherit;
}

a:hover {
    color: blue;
    color: var(--accent-color, blue);
    text-decoration: black wavy underline 1.5px;
}

#health-stats {
    border: 2px solid black;
    margin: 10px;
}
table#health-stats td {
    text-align: center;
}

#stats-and-weapons {
    display: flex;
    justify-content: space-evenly;
}

#stats {
    border: 2px solid black;
    margin: 10px;
}
#stats td {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

#left, #right {
    flex: 1 1 auto;
    display: flex;
    max-width: 30vw;
    flex-direction: column;
}

#gun-stats {
display: flex;
}

#abilities-and-profs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



#abilities-and-profs>* {
    min-width: 100px;
    max-width: 600px;
    margin: 10px;

}

input[type="checkbox"]:checked {
accent-color: var(--accent-color);
}