* {
    font-family: "Josefin Sans", sans-serif;
    --accent-color: rgb(166, 185, 247);
    text-transform: lowercase;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

td {
    padding: 2px;
}

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1,h2 {
    margin:0;
    padding: 0;
    text-transform: none;
}

h1 {
margin-bottom: 8px;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: var(--accent-color, blue) wavy underline 1.5px;
    text-underline-offset: 6px;
    color: inherit;
}

a:hover {
    color: blue;
    color: var(--accent-color, blue);
    text-decoration: black wavy underline 1.5px;
}

#health-stats {
    border: 2px solid black;
    margin: 10px;
}

#stats-and-weapons {
    display: flex;
    justify-content: space-evenly;
}

#stats, #guns, #bullets, #weapons, #maneuvers, .abilities, #profs, #inventory {
    border: 2px solid black;
    margin: 10px;
}
#stats td {
    /* text-align: center; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

#left, #right {
    flex: 1 1 auto;
    display: flex;
    max-width: 60%;
    flex-direction: column;
}

#gun-stats {
display: flex;
}

#abilities-and-profs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



#abilities-and-profs>* {
    min-width: 100px;
    max-width: 600px;
    margin: 10px;

}

input[type="checkbox"]:checked {
accent-color: var(--accent-color);
}

th, td {
    text-align: left;
    padding-right: 10px;
}

input[type='number'] {
    display: inline-block;
    width: 80px ;
}

.bullet {
    width: 40px ;
}

.icon {
    width: 15px;
    height: auto;
    margin: 5px;
    /* display: inline-block; */
    /* margin: auto; */
}
.flex {
    display: flex;
    align-items: center;
}

div.buttons {
    display: flex;
    flex-direction: row;
    width: 80%;
    border: 2px solid black;
    margin: 10px;
    padding: .5rem;
    justify-content: space-evenly;
}

.buttons>div {
    width: 10%;
}

div.slot {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}

div.bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.bullet.regular {
    background-color: gainsboro;
}

.bullet.powder {
    background-color: rgb(212, 0, 0);
}

.bullet.stopping {
    background-color: rgb(229, 218, 255);
}

.bullet.clockwork {
    background-color: rgb(212, 191, 2);
}

.bullet.fireball {
    background-color: rgb(255, 136, 0);
}

.bullet.fogCloud {
    background-color: rgb(182, 211, 255);
}

.bullet.shatter {
    background-color: rgb(122, 160, 35);
}

.bullet.dispelMagic {
    background-color: rgb(178, 230, 236);
}
.bullet.counterspell {
    background-color: rgb(154, 92, 190);
}
.slot > input {
    display: inline-block;
    width: 40px;
}
